<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE generatorConfiguration PUBLIC
    "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
    "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <!--外部属性文件-->
    <!--<properties resource="datasource.properties" />-->

    <!--JDBC jar 包路径-->
    <classPathEntry
        location="D:\JavaEE\Maven\Download-Jar\mysql\mysql-connector-java\5.1.47\mysql-connector-java-5.1.47.jar" />

    <context id="context" targetRuntime="MyBatis3Simple" defaultModelType="flat">

        <!--MySQL数据库中表名存在空格时的前后分隔符-->
        <property name="beginningDelimiter" value="`" />
        <property name="endingDelimiter" value="`" />

        <!--注释生成配置(可选,最多一个)-->
        <commentGenerator>
            <property name="suppressAllComments" value="true" />
            <property name="suppressDate" value="true" />
        </commentGenerator>


        <!--连接数据库信息(必须,最多一个)-->
        <jdbcConnection userId="root" password="djh" driverClass="com.mysql.jdbc.Driver"
            connectionURL="jdbc:mysql://localhost:3306/mybatis" />


        <!--类型处理器，在数据库类型和java类型之间的转换控制(可选,最多一个)-->
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>


        <!--控制实体类的生成(必须,最多一个)-->
        <javaModelGenerator targetPackage="" targetProject=".">
            <property name="enableSubPackages" value="false" />
            <property name="trimStrings" value="false" />
        </javaModelGenerator>


        <!--配置Mapper文件的属性(可选)-->
        <sqlMapGenerator targetPackage="" targetProject=".">
            <property name="enableSubPackages" value="false" />
        </sqlMapGenerator>


        <!--配置Mapper接口属性(可选,最多一个)-->
        <javaClientGenerator targetPackage="model" type="XMLMAPPER" targetProject=".">
            <property name="enableSubPackages" value="false" />
        </javaClientGenerator>


        <!--只有配置过的 table 才能根据上述配置生成代码-->
        <table schema="" tableName="" enableCountByExample="false"
            enableDeleteByExample="false" enableSelectByExample="false"
            enableUpdateByExample="false" />


    </context>
</generatorConfiguration>